
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caja de Comentarios con Bootstrap</title>
    <style>
        .usuario {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #f9f9f9;
        }

        .texto {
            margin-top: 5px;
            margin-left: 10px;
            color: black;
            flex-grow: 1;
        }

        .usuario img {
            width: 50px;
            height: 50px;
            object-fit: cover; /* Ajusta la imagen para que se cubra completamente sin distorsionar */
        }

        .admin {
            background-color: #e9ecef;
            border: 1px solid #ced4da;
        }

            .admin .badge {
                background-color: #007bff;
                color: white;
                margin-right: 10px;
            }

        .text-muted {
            display: block;
            margin-top: 5px;
            margin-left: 10px;
        }

        .infousuario {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            flex-grow: 1;
        }

        .headercomentario {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .fechacomentario {
            margin-left: auto;
            margin-right: 10px;
            color: gray;
        }

        .autenticado {
            text-align: center;
            padding: 20px;
            background-color: #f8d7da;
            color: #721c24;
            border: 1px solid #f5c6cb;
            border-radius: 5px;
            margin-bottom: 20px;
        }
    </style>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h2>Deja tu comentario</h2>
                    </div>
                    @{

                        if (ViewBag.cookie == null)
                        {
                            <div class="card-body">
                                <div class="autenticado">
                                    <p>Por favor, <a asp-controller="Home" asp-action="Login">inicia sesión</a> o <a asp-controller="Home" asp-action="Register">regístrate</a> para dejar y/o ver comentarios.</p>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="card-body">
                                <div class="form-group">
                                    <textarea id="cadenaInput" class="form-control" rows="5" placeholder="Escribe tu comentario aquí..."></textarea>
                                    <input id="IdArticulo" name="IdArticulo" type="hidden" value="@ViewBag.IdArticulo">
                                </div>
                                <button id="updateButton" class="btn btn-primary btn-block">Enviar</button>
                            </div>
                            <div class="mt-4">
                                <h3>Comentarios</h3>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="d-flex align-items-start">
                                            <div id="container"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            function loadComments() {
                var IdArticulo = $('#IdArticulo').val();
                $.ajax({
                    type: 'GET',
                    url: '/api/Comentario?idArticulo=' + IdArticulo,
                    success: function (response) {
                        var container = $('#container');
                        container.empty();

                        var comentarios = response.comentarios;
                        var usuarios = response.usuarios;

                        comentarios.forEach(function (comentario) {
                            var usuario = usuarios.find(u => u.id === comentario.idUsuario);

                            var divUsuario = $('<div>').addClass('usuario');
                            if (usuario.tipoUsuario === 'Admin') {
                                divUsuario.addClass('admin');
                                var badge = $('<span>').addClass('badge badge-primary').text('Administrador');
                                divUsuario.append(badge);
                            }

                            var img = $('<img>').attr('src', usuario?.direccionImagen || '/Images/Usuarios/usuario.png').addClass('rounded-circle mr-3').attr('alt', 'User Image');
                            var userInfo = $('<div>').addClass('infousuario');
                            var commentHeader = $('<div>').addClass('headercomentario');
                            var strong = $('<strong>').text(usuario?.nombre || 'Usuario ' + comentario.IdUsuario);
                            var span = $('<span>').addClass('fechacomentario').text(new Date(comentario.fecha).toLocaleDateString());
                            var divTexto = $('<div>').addClass('texto').text(comentario.texto);

                            commentHeader.append(strong).append(span);
                            userInfo.append(commentHeader).append(divTexto);
                            divUsuario.append(img).append(userInfo);
                            container.append(divUsuario);
                        });
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }

            loadComments();

            // Enviar nuevo comentario
            $('#updateButton').click(function () {
                var mensaje = $('#cadenaInput').val();
                var IdArticulo = $('#IdArticulo').val();
                var nuevoComentario = {
                    IdArticulo: IdArticulo,
                    IdUsuario: '@ViewBag.ID',
                    Texto: mensaje
                };

                $.ajax({
                    type: 'POST',
                    url: '/api/Comentario',
                    contentType: 'application/json',
                    data: JSON.stringify(nuevoComentario),
                    success: function (response) {
                        $('#cadenaInput').val('');
                        loadComments();
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });

            setInterval(loadComments, 5000);
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
