@{
    if (ViewBag.Nivel == "Cliente")
    {
        Layout = "_LayoutCliente";
    }
    if (ViewBag.Nivel == "Admin")
    {
        Layout = "_LayoutAdmin";
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Intuitive:wght@400;700&display=swap" rel="stylesheet">
    <title>Insane Mechanical</title>
    <link rel="stylesheet" href="css/site.css">
    <style>
        body {
            background-color: grey;
            background-image: url(https://st2.depositphotos.com/1175677/12327/v/450/depositphotos_123277816-stock-illustration-black-wood-background-wallpaper-backdrop.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            font-size: 60px;
            font-family: 'Poppins', sans-serif;
            margin-top: 80px;
            font-weight: 600;
            animation: fadeIn 3s ease-in-out;
        }

        @@keyframes fadeIn {
            0% {
                opacity: 0;
                transform: translateY(-20px);
            }

            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .content-all {
            width: 90%;
            max-width: 1200px;
            margin: auto;
            margin-top: 50px;
            padding: 20px;
            box-sizing: border-box;
        }

        .section {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;
            flex-wrap: wrap;
            background-color: rgba(255, 255, 255, 0.1);
            padding: 20px;
            border-radius: 10px;
        }

        .section-content {
            flex: 2;
            padding: 0 20px;
            text-align: justify;
        }

        .section-image {
            flex: 1;
            text-align: center;
            margin-top: 20px;
        }

            .section-image img {
                max-width: 100%;
                height: auto;
                border-radius: 10px;
                transition: transform 0.3s ease-in-out;
                cursor: pointer;
            }

                .section-image img:hover {
                    transform: scale(1.1);
                }

        .media-section {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 50px;
        }

            .media-section img,
            .media-section video {
                margin: 10px;
                max-width: 100%;
                border: 2px solid white;
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                transition: transform 0.3s ease-in-out;
                cursor: pointer;
            }

                .media-section img:hover,
                .media-section video:hover {
                    transform: scale(1.1);
                }

            .media-section video {
                max-height: 300px;
                border-radius: 10px;
            }

        .welcome-text {
            text-align: center;
            margin-bottom: 50px;
        }

        .carousel {
            max-width: 600px;
            margin: auto;
        }

            .carousel img {
                max-height: 300px;
            }
    </style>
</head>
<body>
    @if (ViewBag.cookie == null)
    {
        <h1>Si quieres aprender como funciona tu auto estas en el lugar correcto</h1>
        <div class="content-all">
            <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://i.pinimg.com/736x/89/3a/80/893a80fcb5c57914777e71dbcf680a06.jpg" class="d-block w-100" alt="Mechanical Image 1">
                    </div>
                    <div class="carousel-item">
                        <img src="https://i.pinimg.com/736x/38/ce/24/38ce247f4c970ac64214c9c0fe28e74a.jpg" class="d-block w-100" alt="Mechanical Image 2">
                    </div>
                    <div class="carousel-item">
                        <img src="https://i.pinimg.com/736x/68/33/eb/6833eb2415cffa880d4b5b86a0bf142c.jpg" class="d-block w-100" alt="Mechanical Image 3">
                    </div>
                    <div class="carousel-item">
                        <img src="https://i.pinimg.com/736x/e0/a1/d1/e0a1d1b96f03f1daa9b3d4aa0f8c1814.jpg" class="d-block w-100" alt="Mechanical Image 4">
                    </div>
                    <div class="carousel-item">
                        <img src="https://i.pinimg.com/736x/ab/d2/7b/abd27b17644efe81e45aa96fe4f20e35.jpg" class="d-block w-100" alt="Mechanical Image 5">
                    </div>
                    <div class="carousel-item">
                        <img src="https://i.pinimg.com/564x/e9/22/eb/e922eb41c63a0e1606ffb16189189afc.jpg" class="d-block w-100" alt="Mechanical Image 6">
                    </div>
                    <div class="carousel-item">
                        <img src="https://st2.depositphotos.com/1158226/8299/i/450/depositphotos_82993766-stock-photo-vintage-mechanical-engineer-desk-at.jpg" class="d-block w-100" alt="Mechanical Image 7">
                    </div>
                    <div class="carousel-item">
                        <img src="https://i.pinimg.com/736x/44/1f/d6/441fd6f14b4ff9c8e9ddee1487af7a28.jpg" class="d-block w-100" alt="Mechanical Image 8">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.tierrafuerte.mx/wp-content/uploads/2024/03/WhatsApp-Image-2024-03-01-at-10.22.18-780x470.jpeg" class="d-block w-100" alt="Mechanical Image 9">
                    </div>
                    <div class="carousel-item">
                        <img src="https://img.freepik.com/fotos-premium/tecnico-manos-mecanico-automoviles-trabajando-reparacion-automoviles_45041-152.jpg?w=360" class="d-block w-100" alt="Mechanical Image 10">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <br /> <br /> <br /> <br /> <br />

            <div class="section">
                <div class="section-image">
                    <img src="https://cdn-icons-png.flaticon.com/512/2638/2638649.png" alt="Objetivo">
                </div>
                <div class="section-content">
                    <h2>Objetivo de la página</h2>
                    <p>Nuestro objetivo es proporcionar una plataforma educativa donde cualquier persona interesada en la mecánica básica pueda aprender y mejorar sus habilidades. Queremos hacer que el aprendizaje sea accesible, práctico y divertido.</p>
                </div>
            </div>

            <div class="section">
                <div class="section-image">
                    <img src="https://cdn-icons-png.flaticon.com/512/5661/5661172.png" alt="Solución">
                </div>
                <div class="section-content">
                    <h2>Solución al problema</h2>
                    <p>La creación de una aplicación web para la facilitación de adquirir conocimientos de mecánica básica.</p>
                </div>
            </div>

            <div class="welcome-text">
                <h2>Bienvenido a Insane Mechanical</h2>
                <p>Aprende todo sobre mecánica básica con nuestros tutoriales, imágenes y videos. Ya sea que seas un principiante o un experto, tenemos algo para ti.</p>
            </div>

            <div class="media-section">
                <figure>
                    <img src="https://via.placeholder.com/400x300.png?text=Imagen+de+Mecánica" alt="Imagen de Mecánica">
                    <figcaption>Imagen de Mecánica</figcaption>
                </figure>
                <figure>
                    <img src="https://via.placeholder.com/400x300.png?text=Otra+Imagen+de+Mecánica" alt="Otra Imagen de Mecánica">
                    <figcaption>Otra Imagen de Mecánica</figcaption>
                </figure>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script>
            var myCarousel = document.querySelector('#carouselExampleIndicators');
            var carousel = new bootstrap.Carousel(myCarousel, {
            interval: 2000,
            wrap: true
            });
        </script>
    }
    else
    {
        <body>
            <h1>Insane Mechanical</h1>
            <div class="content-all">
                <div class="section">
                    <div class="section-content">
                        <h2>¿Cómo funcionan los motores de los automóviles?</h2>
                        <p>“El motor de combustión interna consta de cilindros, pistones, inyectores de combustible y bujías. Combinados, estos componentes queman combustible y dejan salir los gases de escape de los cilindros. Al repetir el proceso, crea energía que impulsa el automóvil.”</p>
                    </div>
                    <div class="section-image">
                        <img src="~/Motor.png" alt="Motor de automóvil">
                    </div>
                </div>
                <img src="~/Carrofordummies.jpg" class="d-block mx-auto" />
            </div>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        </body>
    }
</body>
</html>
