@{
    Layout = "_LayoutLoginRegister";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Iniciar Sesión</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .form-group input {
            width: 1w0%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        body {
            background-color: rgb(0, 0, 0);
        }

        .row {
            background-color: white;
            border-radius: 30px;
            box-shadow: 12px 12px 22px grey;
        }

        img {
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }

        .btn1 {
            border: none;
            outline: none;
            height: 50px;
            width: 100%;
            background-color: black;
            color: white;
            border-radius: 4px;
            font-weight: bold;
        }

            .btn1:hover {
                background-color: white;
                border: 1px solid;
                color: black;
            }

    </style>
</head>
<body>
    <section class="Form my-4 mx-5">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-5">
                    <img src="https://i.pinimg.com/originals/52/f5/c2/52f5c2dd3eeb2cafdc3fe36d485a41a9.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-7 px-5 pt-5">
                    <h1 class="font-weight-bold py-3">Insane Mechanical</h1>
                    <h4>Inicia Sesion en tu cuenta</h4>
                    <form asp-action="Login" asp-controller="Home" method="post" id="loginForm">
                        <div class="form-row form-group">
                            <div class="col-lg-7">
                                <label for="username">Correo electronico</label>
                                <br />
                                <input type="email" id="username" name="Correo" required>
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col-lg-7">
                                <label for="password">Contraseña</label>
                                <br />
                                <input type="password" id="password" name="Contrasena" maxlength="8" oninput="validateLength(this)" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <button type="button" class="btn1 mt-3 mb-5" data-toggle="modal" data-target="#confirmationModal">Iniciar sesión</button>
                                <input type="hidden" id="selectedOption" name="SelectedOption" />
                            </div>
                        </div>
                        <p>¿No tienes cuenta?, <a href="@Url.Action("Register", "Home")">Registrate aqui</a></p>
                        <p>¿Olvidaste tu contraseña?, <a href="@Url.Action("ContrasenaOlvidada", "Home")">Recuperala aqui!</a></p>
                        <br>
                        <br>
                        <h1 class="text-black">@ViewBag.Mensaje</h1>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Modal -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Confirmación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="color: black;">Por favor, seleccione a donde se enviara su codigo de verificacion:</p>
                    <select id="modalSelect" class="form-control">
                        <option value="Correo">Correo</option>
                        <option value="WhatsApp">WhatsApp</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="submitForm()">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        function submitForm() {
            var selectedOption = document.getElementById("modalSelect").value;
            document.getElementById("selectedOption").value = selectedOption;
            document.getElementById("loginForm").submit();
        }

        function validateLength(input) {
            if (input.value.length > 8) {
                input.value = input.value.slice(0, 8);
            }
        }
    </script>
</body>
</html>