<h1 style="text-align: center;">Funcionamiento b&aacute;sico del motor</h1>
<p>El motor puede ser considerado como el coraz&oacute;n de cada autom&oacute;vil. Es una m&aacute;quina perfectamente construida que convierte el calor ocasionado por la explosi&oacute;n (motor de gasolina) o la combusti&oacute;n (motor di&eacute;sel) del combustible en un movimiento de fuerza que hace girar las ruedas.</p>
<p>&nbsp;</p>
<p><iframe style="display: table; margin-left: auto; margin-right: auto;" src="https://www.youtube.com/embed/HjUaQ4naBBg?si=yDXQlQC392IsKoxx&amp;t=13" width="800" height="451" allowfullscreen="allowfullscreen"></iframe></p>
<p>Algunos de los tipos de motores que existen son:</p>
<ul role="list">
<li>Motor di&eacute;sel</li>
<li>Motor de explosi&oacute;n a gasolina - motor Otto</li>
<li>Motor de combusti&oacute;n interna</li>
<li>Motor h&iacute;brido</li>
<li>Motor el&eacute;ctrico</li>
<li>Motor de reacci&oacute;n</li>
<li>Motor de carga estratificada</li>
</ul>
<p>Cuando hablamos del motor convencional que funciona con gasolina, la cadena de reacciones se activa a trav&eacute;s de un chispazo, el cual es capaz de encender una mezcla de vapor de combustible y aire comprimido dentro de un cilindro que est&aacute; sellado. Esa mezcla se quema, se dispensa y genera energ&iacute;a. Para evitar el desgaste y reducir al m&aacute;ximo la fricci&oacute;n de las piezas que forman parte del motor, es esencial el cambio de aceite.</p>