<h1 style="text-align: center; margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="font-size: 16.0pt; line-height: 107%; font-family: Arial, sans-serif;">C&Oacute;MO CAMBIAR: FILTRO DE COMBUSTIBLE EN UN COCHE</span></h1>
<p style="text-align: center; margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">HERRAMIENTAS NECESARIAS: </span></strong></p>
<ul style="margin-bottom: 0cm; margin-top: 0px;">
<li style="margin: 0cm 0cm 0.0001pt 24.4px; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif; text-indent: 0.4px;"><span style="font-family: Arial, sans-serif;">Destornillador philips </span></li>
<li style="margin: 0cm 0cm 0.0001pt 24.4px; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif; text-indent: 0.4px;"><span style="font-family: Arial, sans-serif;">Llave Torx </span></li>
<li style="margin: 0cm 0cm 8pt 24.4px; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif; text-indent: 0.4px;"><span style="font-family: Arial, sans-serif;">Punta Torx</span></li>
</ul>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">Las principales razones para sustituir el filtro de combustible:</span></strong></p>
<ul style="margin-bottom: 0cm; margin-top: 0px;">
<li style="margin: 0cm 0cm 0.0001pt 0.4px; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif; text-indent: 0.4px;"><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">El motor funciona mal </span></li>
<li style="margin: 0cm 0cm 0.0001pt 0.4px; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif; text-indent: 0.4px;"><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">Dificultad para arrancar el motor </span></li>
<li style="margin: 0cm 0cm 8pt 0.4px; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif; text-indent: 0.4px;"><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">P&eacute;rdida de potencia del motor</span></li>
</ul>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><img src="blob:http://localhost:5231/b3e72242-3d5a-4430-9c62-ba7b95429613" width="323" height="170"><br clear="ALL"><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">1. La ubicaci&oacute;n del filtro de combustible depende del dise&ntilde;o del coche y del tipo de motor.</span></p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><img src="blob:http://localhost:5231/f8101f4f-1af2-4b60-abdd-3ae5025a077c" width="323" height="170"></p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">2. Se puede encontrar el filtro de combustible: en los bajos del coche (cerca del dep&oacute;sito de combustible o m&aacute;s cerca del motor).</span></p>
<p style="text-align: center; margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<table cellspacing="0" cellpadding="0" align="left">
<tbody>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td align="left" valign="top"><img src="blob:http://localhost:5231/a47176d5-9270-4d19-84fc-4b5da13c751b" width="303" height="159"></td>
<td>&nbsp;</td>
<td align="left" valign="top">&nbsp;</td>
</tr>
</tbody>
</table>
<p><br clear="ALL"><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">3. En el motor o dentro del dep&oacute;sito de combustible.</span></p>
<p>&nbsp;</p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><img src="blob:http://localhost:5231/60782c25-c307-449f-a66b-911abda30a98" width="326" height="170"><br clear="ALL"><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">4. Si el filtro de combustible se encuentra en el dep&oacute;sito, se ha previsto una tapa bajo el asiento trasero o en el suelo del maletero para facilitar el acceso al mismo, en algunos casos, puede ser necesario desmontar el dep&oacute;sito de combustible.</span></p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><img src="blob:http://localhost:5231/5649a0cc-8b6f-458d-9f1c-eca54f6e558c" width="325" height="170"><br clear="ALL"><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">En algunos casos, puede ser necesario desmontar el dep&oacute;sito de combustible.</span></p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><img src="blob:http://localhost:5231/1383ef81-839f-4e6f-b04b-d0984d12af31" width="323" height="170"><br clear="ALL"><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">5. Un filtro de combustible en el dep&oacute;sito puede formar una sola unidad con la bomba y el sensor de nivel de combustible. A menudo todos estos componentes se cambian juntos como un conjunto.</span></p>
<p style="text-align: center; margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">6. Limpie la zona de trabajo para evitar riesgos de incendios o chispas.</span></p>
<p style="text-align: center; margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<table cellspacing="0" cellpadding="0" align="left">
<tbody>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td><img src="blob:http://localhost:5231/dd5835b1-fd06-40fd-8fa5-489e0c56bfe8" width="323" height="170"></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="font-family: Arial, sans-serif; font-size: 12pt;">7. Las&nbsp;</span>mangueras<span style="font-family: Arial, sans-serif; font-size: 12pt;"> </span>del<span style="font-family: Arial, sans-serif; font-size: 12pt;"> </span>filtro<span style="font-family: Arial, sans-serif; font-size: 12pt;"> </span>de<span style="font-family: Arial, sans-serif; font-size: 12pt;"> combustible </span>suelen<span style="font-family: Arial, sans-serif; font-size: 12pt;"> </span>estar<span style="font-family: Arial, sans-serif; font-size: 12pt;"> </span>sujetas<span style="font-family: Arial, sans-serif; font-size: 12pt;"> con </span>conectores<span style="font-family: Arial, sans-serif; font-size: 12pt;"> </span>r&aacute;pidos<span style="font-family: Arial, sans-serif; font-size: 12pt;">, </span>se<span style="font-family: Arial, sans-serif; font-size: 12pt;"> </span>pueden<span style="font-family: Arial, sans-serif; font-size: 12pt;"> </span>separar<span style="font-family: Arial, sans-serif; font-size: 12pt;"> </span>simplemente<span style="font-family: Arial, sans-serif; font-size: 12pt;"> </span>desenganch&aacute;ndolas</p>
<p><img src="blob:http://localhost:5231/69532dcd-c8a7-42cd-a084-fc8ddcddc867" width="305" height="159"></p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">En algunos coches, las mangueras de combustible est&aacute;n aseguradas con abrazaderas.</span></p>
<p style="text-align: center; margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><img src="blob:http://localhost:5231/fb09ee4c-5d7f-4ea7-9c90-83d696def561" width="300" height="159"></p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><br clear="ALL"><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">8. Para cebar el sistema de combustible de un coche de gasolina, conecte el encendido e intente arrancar el motor varias veces </span></p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><img src="blob:http://localhost:5231/51e52b1d-965f-432b-8cbb-d566fb81e5e4" width="320" height="170"><br clear="ALL"><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">La bomba de combustible llenar&aacute; el sistema de combustible y el motor arrancar&aacute;.</span><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></p>
<h3 style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif; text-align: center;"><strong><span style="font-size: 14.0pt; line-height: 107%; font-family: Arial, sans-serif;">&iexcl;Atenci&oacute;n!</span></strong><span style="font-size: 14.0pt; line-height: 107%; font-family: Arial, sans-serif;"> </span></h3>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif; text-align: center;"><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">El motor no arrancar&aacute; al primer intento</span></p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><img src="blob:http://localhost:5231/3c3f18c6-b9ff-443a-8795-0a96c0e81623" width="323" height="170"><br clear="ALL"><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">9. Para cebar el sistema de combustible de un coche di&eacute;sel, se necesita un equipo especial.</span></p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><img src="blob:http://localhost:5231/fd0f95d3-5b2b-4f35-9f1e-1962c6a2f539" width="289" height="151"></p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<p><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">Una bomba de cebado incorporada&nbsp; .</span></p>
<p><img src="blob:http://localhost:5231/fc9fd489-d0eb-4002-a246-57b2df6523ee" width="284" height="151"></p>
<p><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">Una bomba el&eacute;ctrica que se activa al &nbsp;&nbsp;conectar el encendido o mediante un equipo adicional.</span></p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif; text-align: left;"><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">Una bombilla de cebado de combustible.</span></p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif; text-align: left;"><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">Estos dispositivos alimentan a la fuerza el combustible al sistema.</span></p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">14. Cebe el sistema hasta que est&eacute; completamente libre de aire.</span></p>
<p style="text-align: center; margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<table cellspacing="0" cellpadding="0" align="left">
<tbody>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td><img src="blob:http://localhost:5231/e016b8cb-9c23-46c5-baef-616cceb14589" width="326" height="170"></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">15. Desenrosque todos los tornillos de la tapa del filtro de combustible.</span></p>
<p style="text-align: center; margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<table cellspacing="0" cellpadding="0" align="left">
<tbody>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td><img src="blob:http://localhost:5231/143a45b8-b2f0-42db-8398-28884185f491" width="323" height="170"></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">16. Prepare un contenedor para el filtro usado.</span></p>
<p style="text-align: center; margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<table cellspacing="0" cellpadding="0" align="left">
<tbody>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td><img src="blob:http://localhost:5231/ae2e504d-ce5e-4a47-9312-489cfd5a5f18" width="323" height="170"></td>
</tr>
</tbody>
</table>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><br clear="ALL"><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">18. Retire con cuidado haciendo palanca la tapa del filtro de combustible con una herramienta adecuada.</span></p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;"><img src="blob:http://localhost:5231/b7884ab4-f556-46f6-9fca-4cdf4a1e887a" width="319" height="170"></span></p>
<p style="text-align: center; margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">19. Retire la tapa y extraiga el elemento filtrante.</span></p>
<p style="text-align: center; margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<table cellspacing="0" cellpadding="0" align="left">
<tbody>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td><img src="blob:http://localhost:5231/c4aee7dd-ce34-4c2c-8dbc-2a738413d09d" width="360" height="189"></td>
</tr>
</tbody>
</table>
<p><img src="blob:http://localhost:5231/059e85b7-5592-4b23-b6c5-596949ca0ec3" width="389" height="203"></p>
<p><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">20. Retire la carcasa del filtro de combustible y vierta el combustible restante, limpie la carcasa y vuelva a instalarla .</span></p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td align="left" valign="top"><img src="blob:http://localhost:5231/9eb0a03b-0633-4aab-aa31-1d78ae29dd4f" width="305" height="159"></td>
<td>&nbsp;</td>
<td align="left" valign="top">&nbsp;</td>
</tr>
</tbody>
</table>
<p><br clear="ALL"><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">22. Retire las juntas t&oacute;ricas antiguas de la tapa del filtro y limpie sus asientos de montaje.</span></p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td rowspan="2" align="left" valign="top"><img src="blob:http://localhost:5231/f2bb379b-3d3b-4908-9eb3-afdeb61eff2e" width="305" height="161"></td>
<td>&nbsp;</td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<p><br clear="ALL"><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">23. Instale nuevas juntas t&oacute;ricas y el nuevo filtro de combustible</span></p>
<p style="text-align: center; margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><img src="blob:http://localhost:5231/f969b8ad-f686-4701-8469-88d8fe3b7357" width="323" height="170"><br clear="ALL"><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">24. Apriete las sujeciones una tras otra en forma de cruz .</span></p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">25. Utilice una llave dinamom&eacute;trica y aplique el par de apriete recomendado por el fabricante</span></p>
<p style="text-align: center; margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<table cellspacing="0" cellpadding="0" align="left">
<tbody>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td><img src="blob:http://localhost:5231/3fff2195-c197-4bbc-8400-a2c292c41766" width="323" height="170"></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">26. Cebe el sistema de la forma m&aacute;s adecuada para tu coche </span></p>
<p style="text-align: center; margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><img src="blob:http://localhost:5231/46e84003-905e-42e7-8109-0e128e031cc3" width="322" height="170"><br clear="ALL"><span style="font-size: 12.0pt; line-height: 107%; font-family: Arial, sans-serif;">27. Aseg&uacute;rese de que no hay fugas de combustible en las zonas de conexi&oacute;n y arranque el motor</span></p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>