<h2 style="text-align: center;">&iquest;C&Oacute;MO CUIDAR MIS FRENOS?</h2>
<div style="max-width: 800px; margin-left: auto; margin-right: auto;" data-ephox-embed-iri="https://youtu.be/QZ54yLNuMpU?si=q_wuu0Slu5RSYFJa">
<div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;"><iframe style="top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;" src="https://www.youtube.com/embed/QZ54yLNuMpU?rel=0" scrolling="no" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share;" allowfullscreen="allowfullscreen"></iframe></div>
</div>
<h2><strong>EVITA FRENAR BRUSCAMENTE</strong>&nbsp;</h2>
<p>Esto desgasta los frenos r&aacute;pidamente ya que el incremento del calor es mayor y es generado en mucho menor tiempo, as&iacute; que procura disminuir la velocidad antes de frenar. Tomar distancia de los autos de enfrente, respetar los l&iacute;mites de velocidad y anticipar tu ruta evitar&aacute; que debas hacer frenados de emergencia o de p&aacute;nico.&nbsp;&nbsp;</p>
<h2><strong>MANTENTE ATENTO AL PISAR EL PEDAL&nbsp;</strong>&nbsp;</h2>
<p>Existen algunas condiciones que pueden generar un mayor desgaste no solo de discos y balatas sino del sistema completo, por ello, cuando comiences a sentir vibraciones en el pedal del freno cuando lo presionas, es importante que busques el apoyo de un experto para que diagnostique el problema y por ende se solucione y as&iacute; evitar da&ntilde;os.&nbsp;</p>
<h2><strong>REVISA EL L&Iacute;QUIDO DE FRENO</strong>&nbsp;</h2>
<p>Cuidar el nivel del l&iacute;quido de frenos ayuda a mantener en buen estado los discos y su funcionamiento. Por otro lado, un l&iacute;quido de frenos saturado de humedad o completamente sucio y degradado genera p&eacute;rdida de potencia en el frenado, en estos casos su reemplazo es de suma importancia.&nbsp;</p>
<h2><strong>REVISA LAS BALATAS</strong>&nbsp;</h2>
<p>Es normal que con la fricci&oacute;n generada en los discos las balatas se desgasten. Procura revisarlas cada 20,000 km recorridos. Las balatas con menos de 3mm de espesor requieren ser reemplazadas por unas nuevas lo antes posible.&nbsp;</p>
<h2><strong>REVISA EL ESTADO DE TUS DISCOS EN CADA CAMBIO DE BALATAS</strong>&nbsp;</h2>
<p>Al igual que con las balatas, el desgaste de los discos es normal por el uso. En cada cambio de balatas es importante realizar el rectificado de los discos siendo imprescindible verificar que estos no rebasen el espesor m&iacute;nimo indicado por el fabricante ya que el uso de discos delgados genera un incremento considerable en la temperatura de operaci&oacute;n que puede da&ntilde;ar el sistema de frenos.&nbsp;</p>