<h2 style="text-align: center;">Art&iacute;culo 1. Objeto y &Aacute;mbito de Aplicaci&oacute;n</h2>
<div style="max-width: 800px; margin-left: auto; margin-right: auto;" data-ephox-embed-iri="https://youtu.be/jAJjn416dWg?si=iiPlnnvO6y9DhTBu">
<div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;"><iframe style="top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;" src="https://www.youtube.com/embed/jAJjn416dWg?rel=0" scrolling="no" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share;" allowfullscreen="allowfullscreen"></iframe></div>
</div>
<p>Este reglamento tiene por objeto regular la circulaci&oacute;n de peatones, veh&iacute;culos y animales por las v&iacute;as p&uacute;blicas, as&iacute; como el uso adecuado de las v&iacute;as y su se&ntilde;alizaci&oacute;n. Se aplicar&aacute; en todas las v&iacute;as y terrenos p&uacute;blicos aptos para la circulaci&oacute;n, y en v&iacute;as privadas cuando as&iacute; se establezca.</p>
<p>&nbsp;</p>