<h2 style="text-align: center;">Art&iacute;culo 3.-</h2>
<h2 style="text-align: center;"><span style="font-size: 12pt;">En el &aacute;mbito de sus atribuciones, son autoridades competentes para la aplicaci&oacute;n del presente reglamento la Secretar&iacute;a, Seguridad Ciudadana y las personas Titulares de los Juzgados C&iacute;vicos.</span></h2>
<div style="max-width: 800px; margin-left: auto; margin-right: auto;" data-ephox-embed-iri="https://youtu.be/g6fouDs4jZI?si=U0KJRSnZSxfLct9L">
<div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;"><iframe style="top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;" src="https://www.youtube.com/embed/g6fouDs4jZI?rel=0" scrolling="no" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share;" allowfullscreen="allowfullscreen"></iframe></div>
</div>