<h1 style="text-align: center;">Modificaciones al Reglamento de Tr&aacute;nsito</h1>
<p>}</p>
<div style="max-width: 800px; margin-left: auto; margin-right: auto;" data-ephox-embed-iri="https://youtu.be/XJkIttC5SP8?si=1hmRsnmXnR6QUJbY">
<div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;"><iframe style="top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;" src="https://www.youtube.com/embed/XJkIttC5SP8?rel=0" scrolling="no" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share;" allowfullscreen="allowfullscreen"></iframe></div>
</div>
<h2 id="h-reglas-a-seguir-en-el-nuevo-reglamento-para-los-conductores-de-motos" style="text-align: center;"></h2>
<p>Para reducir los riesgos de viajar en motos, el&nbsp;<strong>Reglamento de Tr&aacute;nsito de la CDMX establece lo siguiente, desde este 24 de septiembre</strong>:</p>
<ul style="list-style-type: disc;">
<li>La moto no puede ser conducida por un menor de edad</li>
<li>No se puede transportar a pasajeros menores de 12 a&ntilde;os y no podr&aacute;n viajar a bordo m&aacute;s personas que la capacidad m&aacute;xima para la que fue dise&ntilde;ada la unidad</li>
<li>Deber&aacute; utilizarse un casco protector para motociclistas (tanto conductores como pasajeros)</li>
<li>La placa de la moto deber&aacute; estar a la vista y ser visible</li>
</ul>